<div class="w-full sm:flex justify-between">
  <div
    class="w-full flex flex-col justify-center items-center sm:w-1/2 p-6 bg-gradient-to-t from-gray-200 to-white"
  >
    <p class="text-black font-semibold text-2xl">
      Sign in with your organizational account
    </p>
    <form [formGroup]="form" (submit)="submitForm()">
      <div>

        <label for="floatingInput">Email address</label>
        <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
        class="w-full py-2 px-4 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400"
       />
       
        <label for="floatingInput">Password</label>
        <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
        class="w-full py-2 px-4 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
     
      </div>
      <div class="sm:ml-12">
        <app-button
          [label]="'Login'"
          [type]="'primary'"
          [width]="'150px'"
          [isDisabled]="false"
          (onClick)="submitForm()"
        ></app-button>
      </div>
      <div class="flex gap-4 mt-6">
        <div class="flex gap-2">
          <input
            id="default-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 mt-1 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <p class="">Remember me</p>
        </div>
        <div>
          <a class="underline" href="Forgot Password">Forgot Password</a>
        </div>
      </div>
    </form>
  </div>
  <div class="w-full sm:w-1/2">
    <img
      class=""
      src="../../../../assets/images/login-logo.png"
      alt="Login Logo"
    />
  </div>
</div>
