<main class="overflow-hidden">
  <div class="p-6 w-full h-full flex flex-col">
    <p class="text-xl font-medium mb-4">Create Customer</p>
    <div class="border-2 border-black p-6 sm:pb-12 w-full h-full">
      <p class="text-xl font-medium mb-4">Address Info</p>
      <div class="border-2 border-black p-3">
        <div
          class="bg-gray-200 rounded-md h-64 p-6 flex justify-center items-center gap-6"
        >
          <p *ngIf="addresses.length === 0" class="text-xl font-medium">
            There is no address
          </p>
          <div class="bg-white h-auto rounded-full flex justify-center">
            <div
              *ngFor="let address of addresses"
              class="text-xl font-medium p-6"
            >
              <div class="flex gap-6">
                <div class="bg-gray-500 rounded-full p-1">
                  <app-radio-button
                    [options]="options"
                    [(selectedOption)]="selectedOption"
                  >
                  </app-radio-button>
                </div>
                <div class="mt-1">
                  {{ address.neighborhood }}, {{ address.street }} ,
                  {{ address.houseFlat }}, {{ address.district }},
                  {{ address.city }}, ({{ address.description }})
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sm:flex justify-evenly mt-4">
        <div class="sm:flex sm:gap-8 justify-between">
          <app-button
            [label]="'Exit'"
            [type]="'primary'"
            [width]="'150px'"
            [isDisabled]="false"
            (click)="handleButtonClick()"
          ></app-button>
          <app-button
            [label]="'Add'"
            [type]="'primary'"
            [width]="'150px'"
            (click)="openModal()"
          ></app-button>
        </div>
        <div class="sm:flex gap-4">
          <app-button
            [label]="'Previous'"
            [type]="'primary'"
            [width]="'150px'"
            [isDisabled]="false"
            (click)="handleButtonClick()"
          ></app-button>
          <app-button
            [label]="'Next'"
            [type]="'primary'"
            [width]="'150px'"
            [isDisabled]="false"
            (click)="handleButtonClick()"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</main>

<app-popup
  *ngIf="showModal"
  [modalWidth]="'800px'"
  [modalHeight]="'550px'"
  [title]="''"
  (onClose)="closeModal()"
>
  <div content>
    <form>
      <div class="grid gap-6 md:grid-cols-2 p-6">
        <div>
          <label for="city" class="block mb-2 text-sm font-medium text-white"
            >City *</label
          >
          <input
            type="text"
            id="city"
            name="city"
            [(ngModel)]="newAddress.city"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full block w-full p-2.5"
            required
          />
        </div>
        <div>
          <label
            for="district"
            class="block mb-2 text-sm font-medium text-white"
            >District *</label
          >
          <input
            type="text"
            id="district"
            name="district"
            [(ngModel)]="newAddress.district"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full block w-full p-2.5"
            required
          />
        </div>
        <div>
          <label for="street" class="block mb-2 text-sm font-medium text-white"
            >Street *</label
          >
          <input
            type="text"
            id="street"
            name="street"
            [(ngModel)]="newAddress.street"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full block w-full p-2.5"
            required
          />
        </div>
        <div>
          <label
            for="houseFlat"
            class="block mb-2 text-sm font-medium text-white"
            >House / Flat *</label
          >
          <input
            type="text"
            id="houseFlat"
            name="houseFlat"
            [(ngModel)]="newAddress.houseFlat"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full block w-full p-2.5"
            required
          />
        </div>
        <div>
          <label
            for="neighborhood"
            class="block mb-2 text-sm font-medium text-white"
            >Neighborhood *</label
          >
          <input
            type="text"
            id="neighborhood"
            name="neighborhood"
            [(ngModel)]="newAddress.neighborhood"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full block w-full p-2.5"
            required
          />
        </div>
      </div>
      <div class="p-6">
        <label
          for="description"
          class="block mb-2 text-sm font-medium text-white"
          >Address Description *</label
        >
        <input
          type="text"
          id="description"
          name="description"
          [(ngModel)]="newAddress.description"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5"
          required
        />
      </div>
      <div class="sm:flex sm:gap-8 justify-around">
        <app-button
          [label]="'Cancel'"
          [type]="'primary'"
          [width]="'150px'"
          [isDisabled]="false"
          (click)="closeModal()"
        ></app-button>
        <app-button
          [label]="'Save'"
          [type]="'primary'"
          [width]="'150px'"
          (click)="saveAddress()"
        ></app-button>
      </div>
    </form>
  </div>
</app-popup>
