:host {
    display: block;
    height: 100vh;
    background-size: cover;
    background-image: url("/assets/images/front_blur.png");
  }
  
  .login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    background-size: cover;
  }
  
  .flex {
    min-height: calc(100vh - 80px);
    box-sizing: border-box; /* Padding ve border elemanın iç boyutunu etkiler */
  }