<div class="mt-3">
  <div class="TABS">
    <app-tabs [tabs]="tabs" [activeTab]="0">
      <!-- İlk sekmenin içeriği -->
      <div tabContent0>
        <div class="w-full sm:flex p-6">
            <div class="sm:w-1/4 bg-gray-500 p-3">
              <form [formGroup]="searchForm" (submit)="submitForm()">
              <label for="floatingInput" class="font-bold text-md text-white">NAT ID Number</label>
              <input type="text" class="form-control" id="floatingInput" placeholder="_ _ _ _ _ _ _ _ _ _ _ _"
                formControlName="nationalityId"
                class="w-full py-2 px-4 mb-3 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400" />

              <label for="floatingInput" class="font-bold text-md text-white">Customer ID</label>
              <input type="text" class="form-control" id="floatingInput" placeholder="_ _ _ _ _ _ _ _ _ _ _ _"
                formControlName="id"
                class="w-full py-2 px-4 mb-3 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400" />

              <label for="floatingInput" class="font-bold text-md text-white">Account Number</label>
              <input type="text" class="form-control" id="floatingInput" placeholder="_ _ _ _ _ _ _ _ _ _ _ _"
                formControlName="accountNumber"
                class="w-full py-2 px-4 mb-3 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400" />

              <label for="floatingInput" class="font-bold text-md text-white">GSM Number</label>
              <input type="text" class="form-control" id="floatingInput" placeholder="+90_ _ _ _ _ _ _ _ _ _"
                formControlName="mobilePhone"
                class="w-full py-2 px-4 mb-3 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400" />

              <label for="floatingInput" class="font-bold text-md text-white">First Name</label>
              <input type="text" class="form-control" id="floatingInput" placeholder=" " formControlName="firstName"
                class="w-full py-2 px-4 mb-3 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400" />

              <label for="floatingInput" class="font-bold text-md text-white">Middle Name</label>
              <input type="text" class="form-control" id="floatingInput" placeholder=" " formControlName="middleName"
                class="w-full py-2 px-4 mb-3 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400" />

              <label for="floatingInput" class="font-bold text-md text-white">Last Name</label>
              <input type="text" class="form-control" id="floatingInput" placeholder=" " formControlName="lastName"
                class="w-full py-2 px-4 mb-3 text-gray-700 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400" />
              <div class="flex justify-around gap-5 my-7">
                <app-button [label]="'Cancel'" [type]="'primary'" [width]="'150px'" [isDisabled]="false"
                  (onClick)="handleButtonClick()"></app-button>
                <app-button [label]="'Search'" [type]="'primary'" [width]="'150px'" [isDisabled]="false"
                  (onClick)="submitForm()"></app-button>
              </div>
            </form>
            </div>

          <div class="sm:w-3/4 sm:p-3">
            <p class="sm:ml-12 text-xl font-medium text-black">Search Result</p>
            <div class="border-2 border-black p-6 w-full h-full">
              <div class="flex justify-end">
                <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
                  class="text-white bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                  type="button">
                  Sort By
                  <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg>
                </button>
              </div>
              <div>
                <app-customer-table [searchResulDatas] = "searchResulDatas"></app-customer-table>
              </div>

              <!-- Dropdown menu -->
              <div id="dropdownHover"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                  </li>
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                  </li>
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                  </li>
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                      out</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- İkinci sekmenin içeriği -->
      <div tabContent1></div>
    </app-tabs>
  </div>
</div>


<app-popup *ngIf="showModal" [modalWidth]="'600px'" [modalHeight]="'300px'" [title]="'Customer not found...'"
  (onClose)="toggleModal()">
  <div icon></div>
  <div content>
    <!-- Content alanına dinamik HTML veya Angular bileşenleri ekleyebilirsiniz -->
    <div class="p-4">
      <p class="text-white flex justify-center">
        No customer was found! Would you like to create a new customer?
      </p>
      <div class="mt-6 flex justify-center">
        <app-button [label]="'Yes'" [type]="'secondary'" [width]="'150px'" [isDisabled]="false"
          (onClick)="handleButtonClick()"></app-button>
      </div>
    </div>
  </div>
</app-popup>